{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
<style>
    #imagePreview img {
        max-width: 300px;
    }
</style>
<br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="file" id="imageInput" multiple>
            </div>
            <br><br>
            <div class="col-12">
                <div id="errors-div">

                </div>
            </div>
            <div class="col-12">
                <div class="row" id="imagePreview">

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}



{% block scripts %}
<script>
    document.getElementById('imageInput').addEventListener('change', function() {
        const fileInput = this;
        const imagePreview = document.getElementById('imagePreview');
        const errorDiv = document.getElementById('errors-div');
        const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif'];

        if (fileInput.files && fileInput.files.length > 0) {
            const maxSizeInBytes = 1 * 1024 * 1024; // 5 MB

            Array.from(fileInput.files).forEach(file => {
                // if (file.size > maxSizeInBytes) {
                //     errorDiv.innerHTML += `<div class="alert alert-danger" role="alert">${file.name} exceeds size limit.</div>`
                //     return;
                // }

                // const extension = file.name.split('.').pop().toLowerCase();
                // if (!allowedExtensions.includes(extension)) {
                //     errorDiv.innerHTML += `<div class="alert alert-danger" role="alert">${file.name} has an invalid extension.</div>`
                //     return;
                // }


                const formData = new FormData();
                formData.append('image', file);
                console.log(formData)

                fetch('/upload-image', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: formData
                    })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 200) {
                        const imageUrl = data.image_url;
                        imagePreview.innerHTML += `<div class="col-3"><img src="${imageUrl}" class="img-fluid"></div>`
                        console.log(data.message)
                    } else {
                        errorDiv.innerHTML += `<div class="alert alert-danger" role="alert">${data.message}</div>`
                    }
                })
                .catch(error => {
                    errorDiv.innerHTML += `<div class="alert alert-danger" role="alert">Front error. ${error}</div>`
                });
            });
        }
    });
</script>
{% endblock %}